
/* --------------------------------- navbar --------------------------------- */

#navbar {
    height: 44px;
    padding: 0 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #061937;
}

.navbar-control {
    all: unset;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

/* --------------------------------- toolbar -------------------------------- */

#toolbar {
    height: 36px;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #EEEEEE;
    background-color: #F8F8F8;
    /* overflow: hidden; */
}

.toolbar-items {
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* border-bottom: 2px solid #EEEEEE; */
    /* box-sizing: border-box; */
}

.toolbar-item {
    height: 100%;
    display: flex; 
    align-items: center;
    cursor: pointer;
    border-bottom: 4px solid #F8F8F8;
    box-sizing: border-box;
}

.toolbar-item-link {
    all: unset;
    transform: translateY(2px);
    padding: 0 10px;
    display: inline-block;
    box-sizing: border-box;
}

.toolbar-item:hover:not(.toolbar-item-active) {
    /* background-color: white; */
    border-bottom: 4px solid #061937;
}

/* .toolbar-item:active {
    background-color: gray;
    border-bottom: 4px solid orange;
} */

.toolbar-item-active {
    background-color: white;
    border-bottom: 4px solid orange;
    font-weight: 600;
}
