
/* ---------------------------------- main ---------------------------------- */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* --------------------------------- common --------------------------------- */

.med-text {
    font-size: 18px;
}

.large-text {
    font-size: 32px;
}

.ultra-large-text {
    font-size: 64px;
}

.unset {
    all: unset;
}
