
/* ---------------------------------- main ---------------------------------- */

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* --------------------------------- common --------------------------------- */

.text-1 {
    font-size: 1em;
}

.text-1d25 {
    font-size: 1.25em;
}

.text-1d5 {
    font-size: 1.5em;
}

.text-2 {
    font-size: 2em;
}

.text-4 {
    font-size: 4em;
}

.unset {
    all: unset;
}
